@page "/product/{id:int}"
@inject IProductService ProductService 
@inject ILocalStorageService LocalStorage
@inject ICartService CartService
@inject IToastService ToastService



<div class="product-grid-container"> 
    <div class="media-img-big-wrapper">
        <img class="media-img-big" src="@product.Image" alt="@product.Title" /> 
    </div>
    <div class= "media-body">
        <h2 class="mb-0">@product.Title</h2>
        <p>
            <ul>@product.Description</ul>
            
        </p>
        @if (product.Variants !=null && product.Variants.Count > 1 )
        {
            <div class="form-group">
                <select class="form-control"@bind="currentEditionId" >
                    @foreach(var variant in product.Variants)
                    {
                        <option value="@variant.EditionId">@variant.Edition.Name</option>
                    }
                           }
                </select>
            </div>
        }
        @if (GetSelectedVariant() != null)
        {


            @if (GetSelectedVariant().OriginalPrice > GetSelectedVariant().Price) //checks to see if price is discounted or not
            {
                <h6 class="original-price">£@GetSelectedVariant().OriginalPrice</h6>
            }
            <h4 class="price">£@GetSelectedVariant().Price</h4>
        }
        <div class="two-grid-container">
        <EditForm Model="cartItem" class="product-counter">
            <div>
                <InputNumber id="quantity" @bind-Value="cartItem.Quantity" style="width:70px"/>      
            </div>

        </EditForm>
        <button class=btn-product @onclick="AddToCart"><i class="oi oi-cart"></i>&nbsp;&nbsp;&nbsp; Add to cart</button>
        </div>

    </div>
</div>

@code {
    private Product product = new Product();

    [Parameter]
    public int Id { get; set; }

    private int currentEditionId = 1;

    private CartItem cartItem = new CartItem { Quantity = 1 };

    protected override async Task OnInitializedAsync()
    {
        //extra security making sure products are loaded
        // if (ProductService.Products == null || ProductService.Products.Count == 0)
        //{
        //  ProductService.LoadProducts();
        // }
        product = await ProductService.GetProduct(Id); //Products.FirstOrDefault(p => p.Id == Int32.Parse(Id)); //else pass the id
        if(product.Variants.Count > 0 )
        {
            currentEditionId = product.Variants[0].EditionId;

        }

    }

    private ProductVariant GetSelectedVariant()
    {
        var variant = product.Variants.FirstOrDefault(v => v.EditionId == currentEditionId);
        return variant;
    }

    private async Task AddToCart()  
    {
        var productVariant = GetSelectedVariant();

        cartItem.EditionId = productVariant.EditionId;
        cartItem.EditionName = productVariant.Edition.Name;
        cartItem.Image = product.Image;
        cartItem.Price = productVariant.Price;
        cartItem.ProductId = productVariant.ProductId;
        cartItem.ProductTitle = product.Title;


        await CartService.AddToCart(cartItem);
        //ToastService.ShowSuccess(product.Title, "Added to Cart");
    }
}
